<h2 class="mb-4 register-title">Register</h2>
<div class="register-layout">
  <div class="register-form">
    <form>
      <div class="mb-3">
        <label for="regEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="regEmail" />
      </div>
      <div class="mb-3">
        <label for="regPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="regPassword" />
      </div>
      <div class="mb-3">
        <label for="regConfirmPassword" class="form-label"
          >Confirm Password</label
        >
        <input type="password" class="form-control" id="regConfirmPassword" />
      </div>
      <button type="button" class="btn btn-success w-100">Sign Up</button>
    </form>
  </div>
</div>
